body {
	margin: 0;
	padding: 0;
	background: #111;
}

.container {
	height: 100%;
	overflow: hidden;
}

.row {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: green;
}

.unit {
	font-size: 1em;
	color: green;
	display: inline-block;
}

.blank {
	font-size: 1em;
	color: #111;
	display: inline-block;
}